/*csslint order-alphabetical: false*/
.fo-menu {
    height: 80px;
    background-color: aqua;
    
}

.al-menu {
    margin-top: 20px;
    float: right
}

.al-menu .menupont {
    display: inline-block;
    margin-left: 10px;
    text-decoration: underline;
}

/*ha a menupont fole visszuk az egeret akkor bekekul az adott menupont*/

.al-menu .menupont:hover {
    color: blue;
}

/*ez a fo-menu classon beluli menuket választja ki*/

.fo-menu .menupont {
    height: 40px;
    
/*    körbe mindfen hol 10px a margin*/
/*    margin: 10px;*/
    
/*    margin-bottom: 10px;*/
/*    margin-left: 10px;*/
/*    margin-top: 10px;*/
    
/*    az előző 3 sor röviden*/
    
    margin: 10px 0 10px 10px; /*    fölül, jobbra, alul, balra*/
    
    background-color: blue;
    color: white;
    display: inline-block;
    
/*    padding-top: 22px;*/
/*    padding-left: 10px;*/
/*    padding-right: 10px;*/
/*    padding-bottom: 0;*/
    
/*    az előző 3 sor röviden*/
    
    padding: 22px 10px 0 10px; /*    fölül, jobbra, alul, balra*/
    
}


.tartalom {
    background-color: lightgray;
    margin-top: 40px;
    height: 1000px;
    
/*    bizonyos property-ket nem edremes hasznalni mert nem minden bongeszon mukodik*/
    
    zoom: 0.1;
    
}
